* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "CormorantGaramond-Regular";
  font-display: swap;
  src: url("../fonts/CormorantGaramond-Regular.ttf");
}
@font-face {
  font-family: "CormorantGaramond-Bold";
  font-display: swap;
  src: url("../fonts/CormorantGaramond-Bold.ttf");
}
@font-face {
  font-family: "DMSans-Regular";
  font-display: swap;
  src: url("../fonts/DMSans_18pt-Regular.ttf");
}
@font-face {
  font-family: "DMSans-Bold";
  font-display: swap;
  src: url("../fonts/DMSans_18pt-Bold.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  font-display: swap;
  src: url("../fonts/Lato-Regular.ttf");
}

:root {
  --primary-color: #87742E;
  --text-white: #fff;
  --DMSans-Regular: "DMSans-Regular";
  --DMSans-Bold: "DMSans-Bold";
  --Lato-Regular: "Lato-Regular";
  --CormorantGaramond-Regular: "CormorantGaramond-Regular";
  --CormorantGaramond-Bold: "CormorantGaramond-Bold";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  overflow-x: hidden;
}
.iti{
    color: #000;
    width: 100% !important;
}
header{
  position: relative;
  height: 100vh;
}
header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.295);
  z-index: 1;
}
.container{
  max-width: 90% !important;
  margin: auto;
}
.nav_bar{
  padding: 20px 0px;
}
.nav_bar .container{
  display: flex;
  justify-content: space-between;
}
.nav_logo {
  width: 190px;
}

.manu_logo {
  width: 150px;
}
.call_button{
  text-decoration: none;
  color: var(--text-white);
  border: 1px solid var(--text-white);
  padding: 8px 20px;
  border-radius: 50px;
  font-family: var(--DMSans-regular);
  display: flex;
  gap: 8px;
  font-size: 16px;
  letter-spacing: 1.5px;
}
.call_button img{
  width: 25px;
}
.banner_img{
  height: 100vh;
  width: 100%;
}
.banner_content{
  position: absolute;
  top: 20%;
  left: 0;
  color: var(--text-white);
  text-align: center; 
  z-index: 2;
}
.project_name{
  font-family: var(--CormorantGaramond-Bold);
  font-size: 65px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: left;
}
.project_desc{
  font-family: var(--Lato-Bold);
  font-size: 16px;
  letter-spacing: 1.5px;
  text-align: left;
}
.left_content{
  padding-right: 100px !important;
}
.city_title{
  font-family: var(--CormorantGaramond-Regular);
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
}
.city_title::after{
  position: absolute;
  content: " ";
  height: 1px;
  width: 60%;
  background: #ffffff;
background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 0) 100%);
  bottom: -5px;
  left: 0;
}
.city_box{
      padding: 40px 20px;
    border: 1px solid var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;
    gap: 10px;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.5s;
}
.city_card_col{
  padding-top: 25px;
}
.city_box_bg{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.city_box:hover {
  transform: scale(1.1);
}
.city_box img{
  width: 80px;
}
.city_box p{
  font-family: var(--DMSans-Regular);
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 0px;
}
.modal-body{
  background-color: var(--primary-color) !important;
  color: var(--text-white);
  border-radius: 8px;
  padding: 20px !important;
}
.modal-content{
  background-color: var(--primary-color) !important;
}
.modal-content .btn-close{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  color: var(--text-white) !important;
  filter: invert(1) brightness(30);
}
.modal-content .btn-close:focus{
  box-shadow: none;
}
.popupTitle{
  font-family: var(--CormorantGaramond-Regular);
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 5px;
}
.popup_Address{
  text-align: center;
  font-family: var(--Lato-Regular);
  font-size: 20px;
  letter-spacing: 1.5px;
}
.form-control{
  font-family: var(--DMSans-Regular);
  letter-spacing: 2px;
  border-radius: 0px !important;
}
.formBtn{
  background-color: var(--text-white) !important;
  width: 100%;
  color: var(--primary-color) !important;
  font-family: var(--DMSans-Bold) !important;
  letter-spacing: 2px;
  border-radius: 0px !important;
  font-size: 18px;

}
.disc{
  position: absolute;
  left: 5%;
  bottom: 10px;
  z-index: 999;
  color: var(--text-white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  width: 50%;
  
}
.disc p{
  font-size: 10px;
  font-family: var(--Lato-Regular);
  margin-bottom: 0;
  text-align: left;
  letter-spacing: 1.5px;
}
.disc p a{
  text-decoration: none;
  color: var(--text-white);
  text-align: left;
  cursor: pointer;

}


@media (max-width: 1440px) {
  .city_card_col {
    padding-top: 50px;
}
  .banner_content{
    top: 15%;
}
  .project_name{
  font-size: 45px;
}

.project_desc{
  font-size: 14px;
}
  .city_title{
  font-size: 28px;
}
  .city_box{
  padding: 30px 12px;
  }
  .city_card_col{
      padding-top: 25px !important;
    }
  .city_box img{
  width: 70px;
}
  .city_box p{
    font-size: 14px;
  }
}

@media (max-width: 1366px) {
  .city_card_col {
    padding-top: 50px;
}
}

@media (max-width: 1280px) {

  /* .city_box {
        width: 85%;
    } */
    /* .city_card_col{
      padding-top: 45px !important;
    } */
}


@media (max-width: 768px) {
  .banner_img{
  height: 100vh;
  width: 100%;
}
  .container{
    max-width: 94% !important;
    margin: auto;
  }
  .nav_logo {
        width: auto;
        height: 43px;
}
.banner_content{
  top: 15%;
}
.project_name{
  font-size: 35px;
  letter-spacing: 1.5px;
  margin-bottom: 8px;
  line-height: 38px;
}
.project_desc{
  font-size: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  line-height: 20px;
}
.left_content{
  padding-right: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.city_box img {
        width: 55px;
    }
    .city_box {
        padding: 5px 6px;
        width: 100%;
    }
    .city_card_col{
      padding-left: 6px !important;
      padding-right: 6px !important;
      padding-top: 12px !important;
    }
    .city_box p {
        font-size: 12px;
    }
    .city_title{
      font-size: 24px;
    }
    
    .disc{
  position: static;
  color: var(--text-white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  background-color: #0e0e0e;
  padding: 10px;
  
}
.disc  p{
  width: 95%;
  margin: auto;
}



  

}